.persons_popular{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 21%;
    margin-right: 20%;
    & h1{
        display: block;
        width: 100%;
        text-align: left;
    }
}

.person_popular{
    margin-top: 15px;
    margin-right: 45px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.person_popular img{
    height: 100%;
    width:100%;
}

.info_popular{
    max-height: 185px;
    width: 100%;
    position: relative;

    & h2{
        text-align: left;
        margin: 0;
        margin-left: 10px;
        margin-bottom: 15px;
        margin-top: 15px;
        font-weight: 600;
        font-size: 1.1em;
        line-height: 1.1em;
        color: #000;
    }

    & p{
        color: #4d4d4d;
        font-size: 0.9em;
        line-height: 1.2em;
        margin-right: 15px;
        text-align: left;
        margin-left: 15px;
    }

    & .vote_average{
        position: absolute;
        font-weight: 600;
        font-size: 20px;
        left:12%;
        top: 4%;
    }

    & .known_for{
        & p{
            margin: 0;
            // margin-left: 10px;
        }
    }
}


  
.circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.container_circle{
    position: absolute;
    right: 0;
    top:110%;

}

.pagination{
    display: flex;
    justify-content: center;
}

.pagination li a{
    margin-left: 5px;
    text-shadow: 0px 0px 0px;
    color:black;
}